.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
}

.side-bar {
    height: 100%;
    background-color: #0f8fff;
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    display: grid;
    gap: 0px;
    grid-template-rows: repeat(9, 0.01fr);
}

.text {
    color: white;
    font-size: 1.5rem;
    margin: 20px 15px;
    font-familY: Arial, sans-serif;
    font-weight: bold;
}

.top-bar{
    background-color: white;
    grid-column: 2 / 3;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(219, 219, 219);

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    padding: 10px;
}

.content-grid {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template: 0.1fr repeat(auto-fill, minmax(150px, 1fr)) / 1fr 1fr;
    row-gap: 25px;
    columns: 10px;
}

.project {
    width: max(300px, 80%);
    height: max(150px, 90%);
    background-color: white;
    margin: 15px;

    border-radius: 8px;
    border-left: 8px solid orange;
}

.project p{
    padding: 10px;
}

.title {
    font-size: 1rem;
    margin-bottom: 0px;
    font-weight: bold;
}

.description{
    font-size: 0.8rem;
    margin-top: 0px;
}

.right-bar{
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    display: grid;

}

.announcements-grid, .trending-grid{
    display: grid;
    background-color: white;
    width: min(200px, 70%);
    grid-template-rows: repeat(auto-fill, minmax(100px, 0.3fr));
    align-items: center;
    justify-items: center;
    
    padding: 25px;
    gap: 5px;
    border-radius: 8px;
}

.announcement{
    border-bottom: 1px solid rgb(110, 110, 110);
}

.announcement:last-child{
    border-bottom: none;
}
