html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root{
    --body-height: 100vh;
    --body-width: max(35vw, 400px);
    --margin-form-side: 30px;
    --site-color: rgb(81, 126, 136);
    --site-color-dark: rgb(46, 89, 99);
}

/* -------------------------------------------------------------------------- */
/*                                  Image                                     */
/* -------------------------------------------------------------------------- */

img {
    height: var(--body-height, 1vh);
    width: var(--body-width);
    padding: 0;
    margin: 0;
}

button:hover{
    background-color: var(--site-color-dark);
}

a {
    text-decoration: none;
    color: var(--site-color);

}

a:hover {
    text-decoration: underline;
}

.introduction {
    margin: 5px var(--margin-form-side);
    margin-right: calc( var(--margin-form-side) * 5);
    font-size: 1.5rem;
}

p {
    margin: 0 var(--margin-form-side);
    font-weight: bold;
    font-size: 1.2rem;

}

.container {
    display: flex;
    flex-direction: row;
}

.form-container {
    background-color: rgb(240, 240, 240);
}

.row {
    display: flex;
    margin: 10px 0;
}


.title {
    font-size: 1.2rem;
    font-weight: bolder;
}

h3 {
    font-size: 3rem;
    color: aliceblue;
}

.dark {
    background-color: black;
    width: var(--body-width);
    height: 20vh;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 150px;
}


.dark-footer{
    background-color: black;
    width: var(--body-width);
    height: 4vh;
    opacity: 0.8;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;
}

.credit {    
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                       Form                                 */
/* -------------------------------------------------------------------------- */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin: 20px 0px;
    padding: var(--margin-form-side);
    width: calc(100vw - var(--body-width));
    align-items: center;
    box-shadow: 0px 1px 10px rgb(116, 116, 116);
    background-color: white;
}

.input-container > label{
    font-size: 1rem;
    letter-spacing: 1px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: max(100px, 10vw);

}

input[type=number] {
    appearance: textfield;
}

label {
    margin: 6px 0;
}

input[type=checkbox]{
    margin-top: 26px;
}

label[for="tos"] {
    margin-top: 29px;
}

input:not([type="checkbox"]){
    width: 230px;
    border-radius: 4px;
    border: 1px solid rgb(171, 171, 171);
    font-size: 1rem;
    padding: 4px;
}

input:not([type="checkbox"]):focus{
    border: var(--site-color) solid 1px;
    outline: var(--site-color) solid 2px;

}

button {
    margin: var(--margin-form-side);
    background-color: var(--site-color);
    color: white;
    width: 200px;

    padding: 8px;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 10px;
    transition: all 0.1s;
}

/* Form Validation */
.error-text{
    margin: 0;
    margin-top: 2px;
    font-size: 0.8rem;
    font-weight: normal;
    color: red;
}

input:valid + .error-text{
    opacity: 0;
    user-select: none;
}

input:invalid + .error-text, .error.error + .error-text{
    opacity: 1;
    user-select: auto;
}

input:invalid, .error.error {
    border-color: red;
    outline: none;
}

input:placeholder-shown {
    border: 1px solid rgb(171, 171, 171);
}

input:placeholder-shown + .error-text, input:focus + .error-text{
    opacity: 0;
    user-select: none;
}