html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root{
    --body-height: 100vh;
    --body-width: max(35vw, 400px);
    --margin-form-side: 30px;
}

img {
    height: var(--body-height, 1vh);
    width: var(--body-width);
    padding: 0;
    margin: 0;
}

button {
    margin: var(--margin-form-side);
    background-color: rgb(81, 126, 136);
    color: white;
    width: 200px;

    padding: 8px;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(81, 126, 136);

}

a:hover {
    text-decoration: underline;
}

.introduction {
    margin: 5px var(--margin-form-side);
    margin-right: calc( var(--margin-form-side) * 5);
    font-size: 1.5rem;
}

p {
    margin: 0 var(--margin-form-side);
    font-weight: bold;
    font-size: 1.2rem;

}

.container {
    display: flex;
    flex-direction: row;
}

.form-container {
    background-color: rgb(240, 240, 240);
}

.row {
    display: flex;
    margin: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 40px;

}

input[type=number] {
    appearance: textfield;
}

input[type=checkbox], label[for="tos"] {
    margin-top: 14px;
}


.dark {
    background-color: black;
    width: var(--body-width);
    height: 20vh;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 150px;
}

h3 {
    font-size: 3rem;
    color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin: 20px 0px;
    padding: var(--margin-form-side);
    width: calc(100vw - var(--body-width));
    align-items: center;
    box-shadow: 0px 1px 10px rgb(116, 116, 116);
    background-color: white;
}

.input-container > label{
    font-size: 1rem;
    letter-spacing: 1px;
}

.title {
    font-size: 1.2rem;
    font-weight: bolder;
}

.dark-footer{
    background-color: black;
    width: var(--body-width);
    height: 4vh;
    opacity: 0.8;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;
}

.credit {    
    color: white;
    align-items: center;
    justify-content: center;
}

